<!DOCTYPE html>
  
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">¡Genera tus Superstar de ensueño!</h1>
  <p class="lead">En unos sencillos pasos puedes ver reflejado tu estilo. </p>
  <hr class="my-4">
  <p>Contesta un simple cuestionario para saber un poco más de ti, y así poder ofrecerte una experiencia personalizada.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">COMENCEMOS</a>
</div>

<style>
  /* Estilos CSS para la interfaz */
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #0b71e5;
    color: #0c0101;
    margin: 0;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #000;
    margin-bottom: 20px;
  }

    </style>

{% endblock%}

</html>